.cardSection {
    background-color: var(--mantine-primary-color-filled);
    margin: 0;
    padding: 0;
    height : calc(100vh - 55px);

}

.scrollbar{
    height: calc(100vh - 55px);
}

.app {
   height: 400px;
}

.app:hover {
    box-shadow: inset 0 0 100px 100px rgb(235, 232, 232);
}


